<div class="center jumbotron">
  <h1><%= t "home" %></h1>
  <h2>
    <%= t "page" %>
    <a href="http://www.railstutorial.org/"><%= t "title1" %></a>
    <%= t "title2" %>
  </h2>
  <%= link_to t("sign"), '#', class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
 