<footer class="footer">
  <small>
    <%= t "the" %><a href="http://www.railstutorial.org/"><%= t "title1" %></a>
    <%= t "by" %><a href="http://www.michaelhartl.com/"><%= t "user" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("about"), '/static_pages/about' %></li>
      <li><%= link_to t("contact"), '/static_pages/contact' %></li>
      <li><a href="http://news.railstutorial.org/"><%= t("new") %></a></li>
    </ul>
  </nav>
</footer>
